#key_buttton{
    position: absolute;
    background-image: url('../public/button_sma.png'); /* 设置背景图片路径 */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: transparent; /* 将按钮背景颜色设置为透明 */
    background-repeat: no-repeat; /* 禁止背景图片重复 */
    width: 125px; /* 设置按钮的宽度 */
    height: 64px; /* 设置按钮的高度 */
    border: none; /* 去掉按钮边框 */
    color: white; /* 按钮文本颜色 */
    cursor: pointer; /* 鼠标指针样式 */
    font-family: 'Arial', sans-serif;
    font-size: 23px; 
    font-weight: 450;
    text-align: left;
    transition: all 1s ease; /* 添加过渡效果，使样式改变更平滑 */
    z-index: 2;
}