/* styles.css */
.transparent-button {
  position: absolute;
  background-image: url('../public/show_button_0.png'); /* 设置背景图片路径 */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: transparent; /* 将按钮背景颜色设置为透明 */
  width: 1064px; /* 设置按钮的宽度 */
  height: 63px; /* 设置按钮的高度 */
  border: none; /* 去掉按钮边框 */
  color: white; /* 按钮文本颜色 */
  cursor: pointer; /* 鼠标指针样式 */
  font-family: 'Arial', sans-serif;
  font-size: 23px; 
  font-weight: 450;
  text-align: left;
  transition: all 0.4s ease-out; /* 添加过渡效果，使样式改变更平滑 */

}
    
.selected {
  background-image: url('../public/button_on.png');
  box-shadow: 0 0 10px rgba(189, 187, 187, 0.1); 
}
  
.blur-text {
  background-image: url('../public/button_chose.png');
  color: rgba(228, 222, 222, 0.5);
}

.page-content {
  opacity: 1;
  transition: opacity 0.15s ease; /* 过渡效果持续时间为0.5秒，可以根据需要调整 */
}
  
.page-content.hidden {
  pointer-events: none;
  opacity: 0;
}

#page3{
  position: absolute;
  width: 1000px;
  height: 600px;
  top:45%;
  left:23%;
  display: none;
  opacity: 0;
  pointer-events: none; 
  transition: opacity 1s ease;
}
#page3.visible {
  opacity: 1;
  display: block; /* 当添加visible类时，显示page3元素 */
  pointer-events:auto; /* 不可选中，鼠标事件穿透 */
}