#image-container {
    /* display: flex; */
    position: absolute;
    /* width: 510px;
    height: 510px;  */
    width:1020px;
    height: 1020px;
    /* justify-content: center;
    align-items: center; */
    /* height: 100vh; */
    animation: rotate 5s linear infinite;
    z-index: 1;
  }
  
#image {
    max-width: 100%;
    max-height: 100%;
    transform-origin: center center;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg); /* 起始状态，不旋转 */
    }
    100% {
      transform: rotate(360deg); /* 结束状态，旋转360度 */
    }
  }

#imageout-container {
    /* display: flex; */
    position: absolute;
    width: 600px; /* 设置按钮的宽度 */
    height: 600px; /* 设置按钮的高度 */
    /* justify-content: center;
    align-items: center; */
    /* height: 100vh; */
    animation: rotateout 5s linear infinite;
    z-index: 2;
  }
  
#imageout {
    max-width: 100%;
    max-height: 100%;
  }

  @keyframes rotateout {
    0% {
      transform: rotate(0deg); /* 起始状态，不旋转 */
    }
    100% {
      transform: rotate(-360deg); /* 结束状态，旋转360度 */
    }
  }